# Database
# Get a free Postgres DB at https://neon.tech (no credit card needed)
# Or use Vercel Postgres: https://vercel.com/docs/storage/vercel-postgres
#
DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/dbname?sslmode=require"
DIRECT_DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/dbname?sslmode=require"
